{% extends "base.html.twig" %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">QOne example app</h1>
            <p class="lead text-muted">
                This application demonstrates the integration of our <em>open source privacy bundle</em>.
            </p>
            <p>
                <strong>Accountant login:</strong> admin | Admin1234 <br />
                <strong>Customer login:</strong> herbert | Herbert1234
            </p>
        </div>
    </section>
{% endblock %}