{% extends "base.html.twig" %}

{% block body %}
    <h2>Admin</h2>

    <h3>Your customers</h3>

    <ul>
    {% for customer in customers %}
        <li><a href="{{ path("admin_edit", {"customer": customer.id}) }}">{{ customer.customerPersonalData.firstname }} {{ customer.customerPersonalData.lastname }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}